# Demonstrate DAKOTA script interface to Lua analysis (Rosenbrock)

method,						
	{{#method}}{{name}}{{/method}}
	max_iterations = {{#method}}{{max_iterations}}{{/method}},                    			
	convergence_tolerance = 1e-4   

variables,					
	continuous_design = {{variables_size}}			
	  cdv_initial_point {{#variables}}{{initial}} {{/variables}}		
	  cdv_lower_bounds  {{#variables}}{{lower_bound}} {{/variables}}	
	  cdv_upper_bounds  {{#variables}}{{upper_bound}} {{/variables}}		
	  cdv_descriptor    {{#variables}}'{{&name}}' {{/variables}}

interface,							
	fork		
		input_filter =  {{#precomputes}}'lua {{&.}}', {{/precomputes}}			
	  analysis_drivers = {{#objectives}}'lua {{&.}}', {{/objectives}}
	parameters_file = '{{&params_in}}'
	results_file = '{{&results_out}}'
	file_tag

responses,				
	num_objective_functions = {{objectives_size}}
	numerical_gradients			
		fd_gradient_step_size = .000001	
	no_hessians

