set StreamBehaviors := HC_static;

set StreamGroups := qts;

set StreamGroupsOfType[HC_static] := qts;

set Time := {{#times}} {{time}} {{/times}};

##
## Units, Streams
##

set Units := {{#units}} {{name}} {{/units}};

set Streams := {{#units}}{{#streams}} {{name}} {{/streams}}{{#massStreams}} {{name}} {{/massStreams}}{{#resourceStreams}} {{name}} {{/resourceStreams}}{{#costStreams}} {{name}} {{/costStreams}}{{/units}};

{{#times}}
set UnitsOfTime[{{time}}] := {{#units}} {{name}} {{/units}};
{{/times}}

{{#times}}
set StreamsOfTime[{{time}}] := {{#units}}{{#streams}} {{name}} {{/streams}}{{#massStreams}} {{name}} {{/massStreams}}{{#resourceStreams}} {{name}} {{/resourceStreams}}{{#costStreams}} {{name}} {{/costStreams}}{{/units}};
{{/times}}

{{#units}}
set StreamsOfUnit[{{name}}] := {{#streams}} {{name}} {{/streams}}{{#massStreams}} {{name}} {{/massStreams}}{{#resourceStreams}} {{name}} {{/resourceStreams}}{{#costStreams}} {{name}} {{/costStreams}};
{{/units}}

{{#units}}
{{#streams}}set UnitsOfStream[{{name}}] := {{unitName}}; 
{{/streams}}
{{#massStreams}}set UnitsOfStream[{{name}}] := {{unitName}}; 
{{/massStreams}}
{{#resourceStreams}}set UnitsOfStream[{{name}}] := {{unitName}}; 
{{/resourceStreams}}
{{#costStreams}}set UnitsOfStream[{{name}}] := {{unitName}}; 
{{/costStreams}}
{{/units}}


{{#intervals}}
set HC_TempIntervals[{{layerName}}, {{project_name}}_def_location, {{time}}] :=  {{#temps}} {{interval}} {{/temps}};
{{/intervals}}

##
## Groups
##

set StreamsOfStreamGroup[qts] := {{#units}}{{#streams}} {{name}} {{/streams}}{{/units}}
;

##
## Layers
##

set LayerTypes := Costing HeatCascade MassBalance ResourceBalance;


set Layers := {{#Layers}}{{.}} {{/Layers}}; 


set LayersOfType[HeatCascade] := {{#heatCascadeLayer}} {{.}} {{/heatCascadeLayer}}  ;

set LayersOfType[MassBalance] := {{#massBalanceLayer}} {{.}} {{/massBalanceLayer}} ;

set LayersOfType[ResourceBalance] := {{#resourceBalanceLayer}} {{.}} {{/resourceBalanceLayer}} ;

set LayersOfType[Costing] := {{#costingLayer}} {{.}} {{/costingLayer}} ;

{{#UnitsOfLayer}}
set UnitsOfLayer[{{name}}] := {{#units}}{{name}} {{/units}};
{{/UnitsLayer}}


{{#StreamsOfLayer}}
set StreamsOfLayer[{{name}}] := {{#streams}}{{name}} {{/streams}};
{{/StreamsOfLayer}}

##
## Locations
##

set Locations := {{#Locations}} {{project_name}}_{{location_name}} {{/Locations}}; 

{{#Locations}}
set StreamsOfLocation[{{project_name}}_{{location_name}}] := {{#units}}{{#streams}}{{name}} {{/streams}}{{#massStreams}} {{name}} {{/massStreams}}{{#resourceStreams}} {{name}} {{/resourceStreams}}{{#costStreams}} {{name}} {{/costStreams}}{{/units}};


{{#Layers}}
set LocationsOfLayer[{{.}}] := {{project_name}}_{{location_name}};
{{/Layers}}

set UnitsOfLocation[{{project_name}}_{{location_name}}] := {{#units}}{{name}} {{/units}};
{{/Locations}}

##
## Parameters
##

param cost_elec_in := {{#cost_elec_in}} {{time}} {{value}} {{/cost_elec_in}};

param cost_elec_out := {{#cost_elec_out}} {{time}} {{value}} {{/cost_elec_out}};

param op_time := {{#op_time}} {{time}} {{value}} {{/op_time}};

param cycles := 1.0000;

param Units_ForceUse := {{#times}}{{#forceUseUnits}} {{forceUnitName}} {{time}} {{forceValue}} {{/forceUseUnits}} {{/times}};

param Units_Fmin := {{#units}}{{name}} {{Fmin}}
{{/units}} ;

param Units_Fmax := {{#units}}{{name}} {{Fmax}} 
{{/units}} ;


param Streams_Cost1 := 
{{#times}}{{#coststreams}} {{layerName}} {{name}} {{time}} {{coefficient1}}
{{/coststreams}}{{/times}}
;

param Streams_Cost2 := 
{{#times}}{{#coststreams}} {{layerName}} {{name}} {{time}} {{coefficient2}}
{{/coststreams}}{{/times}}
;

param HC_TI_tl := {{#temps}}
{{layerName}} {{project_name}}_def_location {{time}} {{interval}} {{temp}}
{{/temps}}
;

param Streams_Tin := {{#times}}{{#streams}}
{{layerName}} {{name}} {{time}} {{Tin_corr}} {{/streams}}{{/times}}
;

param Streams_Tout := {{#times}}{{#streams}}
{{layerName}} {{name}} {{time}} {{Tout_corr}} {{/streams}}{{/times}}
;

param Streams_Hin := {{#times}}{{#streams}}
{{layerName}} {{name}} {{time}} {{Hin}} {{/streams}}{{/times}}
;

param Streams_Hout := {{#times}}{{#streams}}
{{layerName}} {{name}} {{time}} {{Hout}} {{/streams}}{{/times}}
;

param Units_flowrate_in :={{#times}}
{{#massstreams}}{{layerName}} {{unitName}} {{time}} {{flowrateIn}}
{{/massstreams}}{{/times}};

param Units_flowrate_out :={{#times}}
{{#massstreams}}{{layerName}} {{unitName}} {{time}} {{flowrateOut}}
{{/massstreams}}{{/times}};

param Units_flowrate_in_r :={{#times}}
{{#resourcestreams}}{{layerName}} {{unitName}} {{time}} {{flowrateIn_r}}
{{/resourcestreams}}{{/times}};

param Units_flowrate_out_r :={{#times}}
{{#resourcestreams}}{{layerName}} {{unitName}} {{time}} {{flowrateOut_r}}
{{/resourcestreams}}{{/times}};

end;
